:root{
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
}

.desktop{
  display: none;
}

hr{
  margin-left: 4%;
  margin-right: 4%;
  opacity: 0.4;
}

body{
  background: var(--Soft-violet);
  font-size: 12px;
  font-family: 'Kumbh Sans';
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1%;
  margin-top: 25%;
  height: 100%;
}

.faq-component{
  display: flex;
  flex-direction: column;
  width: 90%;
  background: white;
  border-radius: 1.5rem;
  margin: 8%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 10%;
}

.img-component{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin-top: -26%;
  margin-left: auto;
  margin-right: auto;
}

.woman{
  margin-left: -10%;
}

.shadow-pattern{
  width: 100%;
  margin-top: -36%;
}

.faq-paragraph{
  text-align: center;
  margin: 2%;
}

.faq-header{
  margin-top: 8%;
  margin-bottom: 8%;
  font-weight: 700;
  font-size: 30px;
}

.faq-group{
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 8px;
  margin: 4%;
  color: var(--Dark-grayish-blue);
}

.faq-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.faq-group p{
  visibility: hidden;
  opacity: 0;
  height: 0;
  text-align: left;
  font-size: 130%;
  transition: visibility 0.5s, opacity 0.7s ease-in-out;
}

@media (min-width:800px){
  .mobile{
    display: none;
  }

  .desktop{
    display: block;
  }

  .container{
    margin-top: 0;

  }

  .faq-component{
    display: flex;
    width: 70%;
    flex-direction: row;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 6%;
    padding-bottom: 0;
  }


  .img-component{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .box{
    position: absolute;
    width: 12%;
    margin-top: 32%;
    margin-left: -6%;
    z-index: 3;
  }

  .woman{
    width: 140%;
    margin-top: 100%;
    margin-left: -26%;
    clip-path: inset(0px 0px 0px 18.5%);
    z-index: 2;
  }

  .shadow-pattern{
    width: 280%;
    margin-left: -165%;
    margin-top: -210%;
    margin-bottom: -35%;
    clip-path: inset(29.5% 0px 12.5% 58.8%);
    z-index: 1;
  }

  .faq-paragraph{
    text-align: center;
    width: 100%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin: 0;
    margin-top: 4%;
    font-size: 100%;
  }

  .faq-header{
    text-align: left;
    margin: 5%;
  }

  .faq-group{
    margin: 4%;
    font-size: 80%;
    transition: display 1s ease-in-out;
  }

  .faq-title img{
    width: auto;
    height: 8px;
    transition: transform 0.5s ease-in-out;
  }
}


